{% extends "nav_base.html" %}

{% block title %}
Home
{% endblock %}

{% block body %}
<div class="jumbotron bg-gradient-light">
  <div class="container">
    <h1 class="display-4">Run your errands safely.</h1>
    <p class="lead">Schedule your tasks and shopping sessions using our intelligent engine.</p>
    <hr class="my-4">
    <p>We analyze environmental conditions and COVID-19 case data to ensure you can get stuff done without worry.</p>
    <a class="btn btn-primary btn-lg" href="{{ url_for('register') }}" role="button">Sign Up</a>
  </div>
</div>
{% endblock %}
