{% extends "two_column.html" %}

{% block title %}
Shopping
{% endblock %}

{% block page_title %}
Shopping
{% endblock %}

{% block page_description %}
Find the safest stores near you with the products you want.
{% endblock %}

{% block column_one %}
<div class="card border-white text-center" id="find-stores-form" style="height: 345px;">
  <div class="card-body border-white rounded shadow">
    <h4 class="pb-3">Find Stores</h4>
      <p class="text-muted">Search for a product and choose a store below.</p>
    <div class="form group">
      <form action="/shopping" method="post">
        <input type="hidden" id="lat" name="lat" value="">
        <input type="hidden" id="lon" name="lon" value="">
        <div class="d-flex justify-content-center">
          <div class="form-group" style="width:50%">
            <div class="form group row py-md-2 justify-content-center">
              <select id="category" class="selectpicker pb-3" name="category" multiple title="Category" required>
                <option data-content="<span class='badge badge-info'>Pharmacy</span>">Pharmacy</option>
                <option data-content="<span class='badge badge-primary'>Grocery Store</span>">Grocery Store</option>
              </select>
            </div>
            <div class="form group row py-md-2">
              <input class="form-control mr-sm-2 text-center mb-3" type="search" placeholder="Search For Products" name="product" aria-label="Search" required>
            </div>
            <button class="btn btn-sm btn-primary my-2 my-sm-0 shadow" type="submit">Search</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}

{% block column_two %}
<div id="tabular-view" class="rounded shadow" style="height:345px;">
  <table class="table table-dark table-striped table-bordered table-hover table text-center">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Store Name</th>
        <th scope="col">Address</th>
        <th scope="col">Product</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for item in shoppingTasks %}
      {% set splitAddr = item.storeAddress.split(',') %}
      <tr>
        <th scope="row">{{ loop.index }}</th>
        <td>{{ item.name }}</td>
        <td>{{ splitAddr[0] }}</td>
        <td>{{ allProducts[loop.index0]|join(', ') }}</td>
        <td class="bg-primary"><a href="/shopping/delete_task?task_index={{ loop.index - 1 }}"><i class="font-icon-white fas fa-trash-alt"></i></a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}

<!-- <script>
// function changeStoreName() {
//   var selected = document.getElementById("storename").value.split(',');
//   var storeName = selected[0];
//   var storeLat = selected[1];
//   var storeLon = selected[2];
//   document.getElementById("demotext").innerHTML = "Update info for " + storeName;
//   url = "http://localhost:5000/shopping/refresh?name=" + storeName + "&lat=" + storeLat + "&lon=" + storeLon;
//   window.location.replace(url);
// }
}
</script> -->

{% block options %}
<div class="container-fluid" id="search-results">
  <div class="row">
    <div class="col">
      {% if product %}
      <h3>Recommended stores for "{{ product }}"</h3>
      <p class="text-muted">Stores are filtered based on the number of COVID-19 cases in  <br>  the surrounding area, stock of your product, and distance.</p>
      <p class="lead">Choose from the stores below. </p>
      {% else %}
      <h3>Stores Near You</h3>
      <p class="lead">Make a search above to find stores with your desired product.</p>
      {% endif %}
    </div>
  </div>
  <div class="row bg-light rounded pt-3">
    {% for item in storeLocs %}
    <div class="col-md mb-3">
      <div class="card border-white shadow text-center" style="height:100%">
        <img id="map" src="{{ item.storeStaticMap }}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5>{{ item.name }}</h5>
          <p class="card-text">{{ item.storeAddress }}</p>
        </div>
        <div class="card-footer border-white bg-white">
          <a href="{{ item.storeGoogleMap }}" class="btn btn-sm btn-secondary" target="_blank"><i class="fas fa-location-arrow"></i> Directions</a>
          {% if req == 'POST' %}
          <a href="{{ item.selectURL }}" class="btn btn-sm btn-primary"> Add to tasks </a>
          {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}

{% block script %}
{% if scroll %}
<script type="text/javascript">
  document.getElementById('{{ scroll }}').scrollIntoView();
</script>
{% endif %}
{% endblock %}
