{% extends "nav_base.html" %}

{% block title %}
Dashboard
{% endblock %}

{% block body %}
<div class="container-fluid p-5">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md rounded shadow bg-dark p-5 m-2 text-white">
        <h2>Welcome {{ g.user['username'] }},</h2>
        <p class="lead">All your scheduled errands. All in one place.</p>
        <div class="btn-group-sm" role="group" aria-label="Basic example">
          <a href="#personal-tasks"><input class="btn btn-sm btn-outline-light mr-2 mb-2" type="button" value="Personal Tasks"></a>
          <a href="#shopping-trips"><input class="btn btn-sm btn-outline-light mb-2" type="button" value="Shopping Trips"></a>
        </div>
      </div>
      <div class="col-md rounded shadow bg-info p-5 m-2 text-white">
        <h2>Task Data</h2>
        <div class="row">
          <div class="col">
            <h4>{{ lentasks }}</h4>
            <p class="lead">Personal Tasks</p>
          </div>
          <div class="col">
            <h4>{{ lenshoppingtasks }}</h4>
            <p class="lead">Shopping Trips</p>
          </div>
        </div>
      </div>
      <div class="col-md rounded shadow bg-primary p-5 m-2 text-white">
        <h2>Notification Settings</h2>
        <p class="lead">We'll message you when tasks should be complete.</p>
        <form action="/update_settings" method="POST">
          <div class="input-group mb-3">
            {% if number %}
            <input type="tel" id="phone_number" class="form-control" placeholder={{number}} name="phone_number" aria-label="Phone Number" pattern="^\d{10}$" required>
            {% else %}
            <input type="tel" id="phone_number" class="form-control" placeholder="Phone Number" name="phone_number" aria-label="Phone Number" pattern="^\d{10}$" required>
            {% endif %}
            <div class="input-group-append">
              <input type="submit" class="btn btn-outline-light" type="button" value="Save">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="container-fluid" id="personal-tasks">
    <div class="row mt-5">
      <div class="col">
        <h3>Your Personal Tasks</h3>
      </div>
      <ul class="nav nav-pills" style="float:right;">
        <li class="nav-item">
          <a class="nav-link" id="list-btn" onclick="toggle()" >List View</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" id="gallery-btn" onclick="toggle()">Gallery View</a>
        </li>
      </ul>
    </div>

    <div class="row bg-light rounded pt-3" id="card-view">
      {% if tasks %}
      {% for item in tasks %}
      <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-xs-6 mb-3">
        <div class="card text-center border-white shadow" style="height:100%">
          <img src="/static/img/gradient.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{ item.name }}</h5>
            <p class="card-text text-center">{{ item.start_time.strftime('%b %-d %-I:%M %p') }} to {{ item.end_time.strftime('%b %-d %-I:%M %p') }}.</p>
          </div>
          <div class="card-footer bg-white text-center border-white text-white">
            <a href="/scheduling/delete_task?task_index={{ loop.index - 1 }}&tasks=True" class="btn btn-sm btn-primary">Mark as Complete</a>
          </div>
        </div>
      </div>
      {% endfor %}

      {% else %}
      <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-xs-6 mb-3">
        <div class="card text-center text-white border-primary bg-primary shadow" style="height:100%">
          <div class="card-body">
            <h5 class="card-title">No Tasks</h5>
            <p class="card-text text-center">Looks like you don't have any personal tasks yet.</p>
            <a href="{{ url_for('scheduling') }}" class="btn btn-sm btn-outline-light">Make a Personal Task</a>
          </div>
        </div>
      </div>
      {% endif %}
    </div>
    
    <div class="row bg-light rounded pt-3" id="tabular-view" hidden>
      <div class="rounded shadow" style="height:315px">
        <table class="table table-dark table-striped table-bordered table-hover table text-center">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Start Time</th>
              <th scope="col">End Time</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for item in tasks %}
            <tr>
              <th scope="row">{{ loop.index }}</th>
              <td>{{ item.name }}</td>
              <td>{{ item.start_time.strftime('%x %-I:%M %p') }}</td>
              <td>{{ item.end_time.strftime('%x %-I:%M %p') }}</td>
              <td class="bg-primary"><a href="/scheduling/delete_task?task_index={{ loop.index - 1 }}"><i class="font-icon-white fas fa-trash-alt"></i></a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

  </div>

  {% for item in shoppingTasks %}
  {% set index = loop.index0 %}
  <!-- MODAL -->
  <div class="modal fade" id="update_choice{{ index }}" tabindex="-1" role="dialog" aria-labelledby="update_choice" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content text-center">
        <form action="/update" method="get">
          <input type="hidden" id="task_index" name="task_index" value="{{ index }}">
          <input type="hidden" id="lat" name="lat" value="{{ item.location[0] }}">
          <input type="hidden" id="lon" name="lon" value="{{ item.location[1] }}">
          <div class="modal-header text-center">
            <h5 class="modal-title" id="exampleModalLabel">Update info for <span class="badge badge-primary">{{ item.name }}</span></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p class="text-muted">Please update the stocks of the products that <br> you remember and store hours to the best of your ability.</p>
            <div class="d-flex justify-content-center">
              <div class="form group" style="width:50%">
                <!-- ALLOW USER TO CHOOSE DIFFERENT STORE IF THEY WANT -->
                <div class="form group row py-md-2 justify-content-center">
                  <div class="form-group justify-content-center row">
                    {% for product in allStores[index].stock %}
                    {% if product.name in allProducts[index] %}
                    <select id="stock" data-show-subtext="true" class="selectpicker pb-3" name="stock:{{ product.name }}" title="{{ product.name }}: {{ product.stockStr }}">
                      <option data-subtext="{{ product.name }}">1-10</option>
                      <option data-subtext="{{ product.name }}">10-25</option>
                      <option data-subtext="{{ product.name }}">25-40</option>
                      <option data-subtext="{{ product.name }}">40+</option>
                    </select>
                    {% endif %}
                    {% endfor %}
                  </div>
                  <div class="form-group row">
                    <label class="text-muted" for="open-time-input">Opening Time</label>
                    <input class="form-control" type="time" value="{{ allStores[index].hours.open }}:00" name="open" id="open-time-input">
                  </div>
                  <div class="form-group row">
                    <label class="text-muted" for="open-time-input">Closing Time</label>
                    <input class="form-control" type="time" value="{{ allStores[index].hours.close }}:00" name="close" id="open-time-input">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <a href="/shopping/delete_task?task_index={{ index }}&passVal=True" type="button" class="btn btn-secondary">I'll Pass</a>
            <button class="btn btn-primary shadow" type="submit">Update</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- END MODAL -->
  {% endfor %}

  <div class="container-fluid" id="shopping-trips">
    <div class="row mt-5">
      <div class="col">
        <h3>Your Shopping Trips</h3>
      </div>
    </div>

    <!-- GALLERY VIEW DIV -->
    <div class="row bg-light rounded pt-3" id="card-view-shopping">
      {% if shoppingTasks %}
      {% for item in shoppingTasks %}
      {% set index = loop.index0 %}
      <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-xs-6 mb-3">
        <div class="card bg-white border-white shadow text-center" style="height:100%">
          <img id="map" src="{{ item.storeStaticMap }}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{ item.name }}</h5>
            <p class="card-text">{{ item.storeAddress }}</p>
            <p class="card-text">{{ allProducts[index]|join(', ') }}</p>
          </div>
          <div class="card-footer border-white bg-white">
            <a href="{{ item.storeGoogleMap }}" class="btn btn-sm btn-secondary mb-2" target="_blank">Directions</a>
            <!-- ACTIVATOR -->
            <a class="btn btn-sm btn-primary mb-2 text-white" data-toggle="modal" id="activator{{ index }}" data-target="#update_choice{{ index }}"> Mark as complete</a>
            <!-- <a href="/shopping/delete_task?task_index={{ loop.index - 1 }}&tasks=True" class="btn btn-sm btn-secondary mb-2"><i class="fas fa-location-arrow"></i> Mark as complete</a> -->
          </div>
        </div>
      </div>
      {% endfor %}
      {% else %}
      <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-xs-6 mb-3">
        <div class="card text-center text-white border-primary bg-primary shadow" style="height:100%">
          <div class="card-body">
            <h5 class="card-title">No Trips</h5>
            <p class="card-text text-center">Looks like you don't have any shopping trips yet.</p>
            <a href="{{ url_for('shopping') }}" class="btn btn-sm btn-outline-light">Add a Shopping Trip</a>
          </div>
        </div>
      </div>
      {% endif %}
    </div>

    <!-- TABLE VIEW DIV -->
    <div class="row bg-light rounded pt-3" id="tabular-view-shopping" hidden>
      <div class="rounded shadow" style="height:315px">
        <table class="table table-dark table-striped table-bordered table-hover table text-center">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Store Name</th>
              <th scope="col">Address</th>
              <th scope="col">Product</th>
              <th colspan="2" scope="colgroup">Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for item in shoppingTasks %}
            {% set splitAddr = item.storeAddress.split(',') %}
            <tr>
              <th scope="row">{{ loop.index }}</th>
              <td>{{ item.name }}</td>
              <td>{{ splitAddr[0] }}</td>
              <td>{{ allProducts[loop.index0]|join(', ') }}</td>
              <td class="bg-primary"><a class="btn btn-sm btn-primary mb-2 text-white" data-toggle="modal" id="activator{{ index }}" data-target="#update_choice{{ loop.index0 }}"> Mark as complete</a></td>
              <td class="bg-primary"><a href="{{ item.storeGoogleMap }}" class="btn btn-sm btn-secondary mb-2" target="_blank">Directions</a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}
